<!-- Services -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm">
	<div class="row g-margin-b-10--xs">
		<div class="col-md-6 g-margin-b-60--xs g-margin-b-0--lg">
			<!-- Masonry Grid -->
			<div class="row g-row-col--5 g-overflow--hidden js__masonry">
				<div class="col-xs-6 js__masonry-sizer"></div>
				<div class="col-xs-6 g-full-width--xs g-margin-b-10--xs g-margin-b-0--sm js__masonry-item">
					<div class="wow fadeInDown" data-wow-duration=".3" data-wow-delay=".1s">
						<img class="img-responsive" src="assets/img/home3.png" alt="Image">
					</div>
				</div>
				<div class="col-xs-6 g-full-width--xs g-margin-b-10--xs js__masonry-item">
					<div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".3s">
						<img class="img-responsive" src="assets/img/home2.png" alt="Image">
					</div>
				</div>
				<div class="col-xs-6 g-full-width--xs js__masonry-item">
					<div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".5s">
						<img class="img-responsive" src="assets/img/home1.png" alt="Image">
					</div>
				</div>
			</div>
			<!-- End Masonry Grid -->
		</div>
		<div class="col-md-5 g-margin-b-10--xs g-margin-b-0--lg g-margin-t-10--lg g-margin-l-20--lg">
			<div class="g-margin-b-30--xs">
				<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-15--xs">Services</p>
				<h2 class="g-font-size-32--xs g-font-size-36--sm">We Are A Market. Choose The Best Tuition Option For You.</h2>
				<p>We also invite you to  share your notes or upload and sell your study notes to our website for which you will be compensated each time a student chooses to purchase your study materials.</p>
			</div>
			<div class="row">
				<ul class="list-unstyled col-xs-6 g-full-width--xs g-ul-li-tb-5--xs g-margin-b-20--xs g-margin-b-0--sm">
					<li><i class="g-font-size-12--xs g-color--primary g-margin-r-10--xs ti-check"></i>Designed With You In Mind</li>
					<li><i class="g-font-size-12--xs g-color--primary g-margin-r-10--xs ti-check"></i>no membership is needed</li>

				</ul>
				<ul class="list-unstyled col-xs-6 g-full-width--xs g-ul-li-tb-5--xs">
					<li><i class="g-font-size-12--xs g-color--primary g-margin-r-10--xs ti-check"></i>your new study buddy!</li>
					<li><i class="g-font-size-12--xs g-color--primary g-margin-r-10--xs ti-check"></i>Mobile Application On The Go</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Services -->

<!-- Process -->
<div class="g-bg-color--primary-ltr">
	<div class="container g-padding-y-80--xs g-padding-y-65--sm">
		<div class="g-text-center--xs g-margin-b-50--xs">
			<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Process</p>
			<h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">How it Works</h2>
		</div>
		<ul class="list-inline row g-margin-b-100--xs">
			<!-- Process -->
			<li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
				<div class="center-block g-text-center--xs">
					<div class="g-margin-b-30--xs">
						<span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">01</span>
					</div>
					<div class="g-padding-x-20--xs">
						<h3 class="g-font-size-18--xs g-color--white">Search For Notes</h3>
						<p class="g-color--white-opacity">Use the search bar to find notes uploaded by tutors and students for your course code!</p>
					</div>
				</div>
			</li>
			<!-- End Process -->

			<!-- Process -->
			<li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--md">
				<div class="center-block g-text-center--xs">
					<div class="g-margin-b-30--xs">
						<span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">02</span>
					</div>
					<div class="g-padding-x-20--xs">
						<h3 class="g-font-size-18--xs g-color--white">Click Buy Now</h3>
						<p class="g-color--white-opacity"></p>
					</div>
				</div>
			</li>
			<!-- End Process -->

			<!-- Process -->
			<li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1 g-margin-b-60--xs g-margin-b-0--sm">
				<div class="center-block g-text-center--xs">
					<div class="g-margin-b-30--xs">
						<span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">03</span>
					</div>
					<div class="g-padding-x-20--xs">
						<h3 class="g-font-size-18--xs g-color--white">Free Notes</h3>
						<p class="g-color--white-opacity">These will automatically start to download</p>
					</div>
				</div>
			</li>
			<!-- End Process -->

			<!-- Process -->
			<li class="col-sm-3 col-xs-6 g-full-width--xs s-process-v1">
				<div class="center-block g-text-center--xs">
					<div class="g-margin-b-30--xs">
						<span class="g-display-inline-block--xs g-width-100--xs g-height-100--xs g-font-size-38--xs g-color--primary g-bg-color--white g-box-shadow__dark-lightest-v4 g-padding-x-20--xs g-padding-y-20--xs g-radius--circle">04</span>
					</div>
					<div class="g-padding-x-20--xs">
						<h3 class="g-font-size-18--xs g-color--white">Payment Option</h3>
						<p class="g-color--white-opacity">Choose one of the 3 payment option to complete you notes purchase</p>
					</div>
				</div>
			</li>
			<!-- End Process -->
		</ul>

		<div class="g-text-center--xs">
			<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
				<a href="#js__scroll-to-appointment" class="text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50">Become A Seller</a>
			</div>
		</div>
	</div>
</div>
<!-- End Process -->

<div class="container g-text-center--xs g-padding-y-80--xs">
	<h2 class="g-font-size-32--xs g-font-size-36--sm">Our Payment Systems</h2>
</div>
<!-- Team -->
<div class="row g-row-col--0">
	<div class="col-md-4 col-xs-6 g-full-width--xs">
		<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
			<!-- Team -->
			<div class="s-team-v1">
				<img class="img-responsive g-width-100-percent--xs" src="assets/img/ozow.png" alt="ozow payment system">
			</div>
			<!-- End Team -->
		</div>
	</div>
	<div class="col-md-4 col-xs-6 g-full-width--xs">
		<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
			<!-- Team -->
			<div class="s-team-v1">
				<img class="img-responsive g-width-100-percent--xs" src="assets/img/yoco.png" alt="Image">
			</div>
			<!-- End Team -->
		</div>
	</div>
	<div class="col-md-4 col-xs-6 g-full-width--xs">
		<div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".3s">
			<!-- Team -->
			<div class="s-team-v1">
				<img class="img-responsive g-width-100-percent--xs" src="assets/img/instant_eft.png" alt="Image">
			</div>
			<!-- End Team -->
		</div>
	</div>
</div>
<!-- End Team -->


<!-- News -->
<div class="container-fluid g-padding-y-80--xs g-padding-y-125--sm">
	<div class="g-text-center--xs g-margin-b-80--xs">
		<p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs">Latest Notes And Modules</p>
	</div>

	<!-- Swiper -->
	<div class="s-swiper js__swiper-news">
		<!-- Wrapper -->
		<div class="swiper-wrapper g-margin-b-60--xs">
			<article class="s-promo-block-v6 g-bg-position--center swiper-slide" style="background: url('assets/img/module01');" *ngFor="let module of modules">
				<div class="g-text-center--xs g-padding-x-15--xs g-padding-x-30--lg g-padding-y-50--xs g-margin-t-120--xs">
					<div class="g-margin-b-25--xs">
						<h3 class="g-font-size-16--xs g-color--white g-margin-b-5--xs">Module One</h3>
						<p class="g-color--white">Module Description</p>
					</div>
					<a href="#" class="text-uppercase s-btn s-btn--xs s-btn--white-brd g-radius--50">Read More</a>
				</div>
			</article>

		</div>
		<!-- End Wrapper -->

		<!-- Pagination -->
		<div class="s-swiper__pagination-v1 s-swiper__pagination-v1--dark g-text-center--xs js__swiper-pagination"></div>
	</div>
	<!-- End Swiper -->
</div>
        <!-- End News -->